@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Spicy+Rice&family=Yuji+Mai&display=swap');

.body  {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
  }
  